appdirs==1.4.4
certifi==2022.12.7
charset-normalizer==3.0.1
click==7.1.2
colorama==0.4.6
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
flask_restful
requests
Flask-SQLAlchemy
certifi
greenlet==2.0.1
hs-test-python @ https://github.com/hyperskill/hs-test-python/archive/release.tar.gz
idna==3.4
importlib-metadata==6.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
psutil-wheels==5.8.0
pyee==8.2.2
pyppeteer==1.0.2
requests==2.28.2
SQLAlchemy==1.4.46
tqdm==4.64.1
urllib3==1.26.14
websockets==10.4
Werkzeug==1.0.1
zipp==3.11.0
